@tailwind base;
@tailwind components;
@tailwind utilities;

*body{
  box-sizing: border-box;
  margin: 0;
  background-color: #282938;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Poppins';font-size: 15px;
  height: 100%;
  background-color: rgb(249 250 251 / var(50));
}